body {
	font-family: Verdana, Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-size: 0.8em;
}

li.task {
	display: block;
	padding: 5px;
	width: 100%;
}

li.list {
	display: block;
	width: 100%;
}

.even {
	background-color: #ececec;
}

h3 {
	margin: 0;
	padding: 0;
}

h2 {
	border-bottom: 1px solid #ccc;
}

.due {
	color: #660000;
	display: block;
	padding: 0 0 0 10px;
	width: 100%;
}

.notes {
	display: block;
	padding: 0 0 0 10px;
	width: 100%;
}
