body {
	font-family: Verdana, Helvetica, Arial, "Nimbus Sans L", sans-serif;
	margin: 0;
	padding: 0;
}

body.options-body {
	background-color: #215a6f;
}

#content {
	float: left;
	margin: 0;
	padding: 0;
}

#footer {
	float: left;
	margin: 0;
	padding: 0 3px 0 0;
	text-align: right;
}

.link {
	color: #44f;
	cursor: pointer;
	font-family: sans-serif;
	font-size: small;
	text-decoration: none;
}

/* Options Form */
#wrapper {
	background-color: #fff;
	border: 1px solid #ccc;
	 -webkit-border-radius: 15px;
	 font-size: 80%;
	margin: 10px auto 10px auto;
	padding: 0 0 0 10px;
	width: 80%;
	max-width: 800px;
}

h1 {
	color: #fff;
	display: block;
	font-size: 200%;
	margin: 0 auto 0 auto;
	height: 32px;
	width: 500px;
	padding: 10px 0 10px 0;
	text-align: center;
	background: url('../images/icon.png') no-repeat top right;
	background-size: contain;
}

h1 > img {
	top: -5px;
}

h2 {
	border-bottom: 1px solid #ccc;
	display: block;
	font-size: 120%;
	margin: 25px 0 5px 0;
	padding: 0;
	text-align: left;
}

#opcontent {
	width: 100%;
}

#opcontent form {
	margin: 0 auto 0 auto;
	text-align: center;
	width: 80%;
}

#opcontent form .savebutton {
	border-top: 1px solid #ccc;
	margin: 20px auto 0 auto;
	padding: 10px;
	width: 50%;
}

#saved {
	display: none;
	background-color: #D5FFDF;
	color: #006A1B;
	font-size: 14px;
	width: 260px;
	text-align: center;
	margin: 10px auto 10px auto;
	padding: 10px;
}

#opfooter {
	background-color: #D5FFDF;
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto 0 auto;
	padding: 0 0 10px 0;
	text-align: center;
	width: 80%;
}

#closure, #closure a:active, #closure a:link, #closure a:visited {
	color: #888;
	font-size: 10px;
}

.note {
	font-size: 80%;
	font-style: italic;
}
